* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.grid-container {
    background-color: rgb(33, 211, 217);
    display: grid;
   padding: 10px;
}

.grid-item {
padding: 20px;
background-color: rgb(255, 119, 0);
border: 5px solid rgb(240, 230, 230);
font-size: 30px;
text-align: center;


}
.grid-item:first-child{
    grid-area: myArea;
    
}
@media only screen and ( max-width:600px){
    .grid-container{
      grid-template-columns: auto auto auto;
        
    }
    
}
@media only screen and ( max-width:500px){
    .grid-container{
      grid-template-columns: auto auto  ;
        background-color: rgb(188, 86, 239);
    }

}
@media only screen and ( max-width:300px){
    .grid-container{
      grid-template-columns: auto;
        background-color: rgb(239, 86, 168);
    }
    .grid-item{
        background-color: bisque;
        font-weight: bold;
        color: blue;

    }

}